/themes/flasky
/themes/orig-subtle
/themes/pelican-elegant
/content/draft
/content/images
/.vagrant
/themes/subtle/static/tipuesearch/tipuesearch.css.orig
/pelican.pid
/cache
/srv.pid
/output

*.pyc
*.log
__pycache__/
.idea/
.vagrant/