/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Author: Enrique Ramírez http://enrique-ramirez.com

    Modification: Swasher http://swasher.pp.ua

    ADD BY SWASHER
    -- color theme
    -- tupie search
    -- elect fonts with russian support
    -- main page is list of post, not last post
    -- remove long tail of posts from footer
    -- remove repeating 'author' - i think simple blog have only one author

    TODO
    -- cleanup css code
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,500italic&subset=latin,cyrillic);   !* ОЧЕНЬ ХОРОШО!!! (текст) *!
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic&subset=cyrillic);*/

@import url(http://fonts.googleapis.com/css?family=PT+Serif:700,700italic&subset=latin,cyrillic);  /* ОЧЕНЬ ХОРОШО!!! (заголовки) */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic&subset=cyrillic); /* body text */


/***** Global *****/
/* Body */
body {
    background: url("../images/background/exclusive_paper.png")  ;
    /*font-family: 'Ubuntu', sans-serif;*/
	/*font-family: 'PT Serif Caption', serif;*/
	font-family: 'Merriweather', serif;
    /*font-size: 15px ;*/
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}


/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
    font-family: 'PT Serif', serif;
}

h2, h3, h4, h5, h6 { margin-top: .8em; }
	
hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #690005;   /* Цвет линков и названий статей*/
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #690005;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
    /*border-radius: 3px;*/
}

h1 a:hover {
    background-color: inherit
}
	
/* Paragraphs */
p {
    /*margin-bottom: 1.143em;*/ /*change by swasher*/
    margin-bottom: .8em;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

.post-info {
    float:none;
    border: 2px solid #C74451;
    background: WhiteSmoke;
    margin:5px;
    padding:4px;
    border-radius:10px;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}

.post-info p{
    margin-bottom: 1px;
}


.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}


/* Inline code */
code, tt { 
	background: #ededed;
	border-radius: 3px;

    padding-left: 4px; padding-right: 4px;
    margin-left: 3px; margin-right: 2px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', Courier, monospace;
    font-size: 0.95em;
}



/* Code blocks */
pre {
    background:  #E3E3E3;
    display: block;

    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', Courier, monospace;
    font-size: 0.9em;

    padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
    margin-bottom: 1.2em;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
    border-left-color: #C74451; /* Цвет линии слева */
    border-left-style: solid;  /*Стиль линии */
    border-left-width: 9px; /* Толщина линии */
    padding-left: 5px; 
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #4F0005;    /* Цвет названия блога */
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 427px;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #DB133B;   /* Цвет ховер названия блога */
		/*color: #DB133B;  */
		text-shadow: none;
        /*-webkit-transform: rotate(1.5deg);*/
        /*-moz-transform: rotate(1.5deg);*/
        /*-o-transform: rotate(1.5deg);*/
    }

	
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		/*background: #000305;*/
		background: #4F0005;     /* Цвет шапки */
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		/*background: #C74451;*/       /* Цвет ховер топиков шапки */
		background: #DB133B;
		color: #FFFFFF;                /* Цвет ховер букв в шапке*/
		text-shadow: none !important;
	}
	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

/*
	Featured
*****************/
#featured {
	
	background: url("toptop.png") no-repeat, url('downdown.png') no-repeat, url("white.png") repeat;
	background-position: top,bottom,top;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	background: url("toptop.png") no-repeat, url('downdown.png') no-repeat, url("white.png") repeat;
	background-position: top,bottom,top;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px; /* Отступы от края колонки до текста*/
	width: 760px; /* Ширина колонки */
	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #000000;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 615px;
	}
	
	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}
	
	/* Social */
	#extras .social {
		float: right;
		width: 175px;
	}
	
	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		

		.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');
		background-size: 16px 16px; }
		.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter_alt.png');
		background-size: 16px 16px;  }
		.social a[href*='quora.com'] {background-image: url('../images/icons/quora.png');
		background-size: 16px 16px; }
		.social a[href*='github.com'] {background-image: url('../images/icons/github.png');
		background-size: 16px 16px; }
		.social a[href*='news.ycombinator.com'] {background-image: url('../images/icons/hacker_news.png');
		background-size: 16px 16px; }
		.social a[href*='instapaper.com'] {background-image: url('../images/icons/instapaper.png');
		background-size: 16px 16px; }
		.social a[href*='hypem.com'] {background-image: url('../images/icons/hype_machine.png');
		background-size: 16px 16px; }
		.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');
		background-size: 16px 16px; }
		.social a[href*='vk.com'] {background-image: url('http://vk.com/press/Simple.png');
		background-size: 16px 16px; }



/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {font-size: 2.2em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;}

	/* Content */
	.hentry footer {margin-bottom: 2em;}
	.hentry footer address {display: inline;}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 10px; position: relative;}
	
	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}
	
	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}

/*
     Swasher added
***********************/

/* blog overview */
div.entry-overview                  { margin: 25px 122px 25px 102px;}                 /* Настройка списка стактей [] [] [отступ снизу названия] [отсуп слева даты]*/
div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p    { display: inline; line-height: 25px; }
div.entry-overview h1               { margin: 0; font-size: 20px; }
div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p    { margin: 0; padding: 0; }
div.entry-overview div.detail       { margin-left: 120px; }                              /*Отступ названий статей*/
div.entry-overview div.date         { float: left; width: 120px; color: #888;
                                      text-align: center; font-style: italic;}
/*div.entry-overview h1:after         { content: " —"; }*/

/* pagination */
div.pagination          { margin: 36px 0 0 0; text-align: center; }
div.pagination strong   { font-weight: normal; font-style: italic; }

div.container           {
    width: 810px; /* Влияет на положение статьи по ширине*/
    margin: 0 auto; /* Отступ от шапки до статьи*/
    padding: 0;
}

#searchform { float: right; margin-top: 10px; }

#searchbox {
    background-color: #F5F4EF;
    border: 1px solid #F5F4EF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    height: 10px;
    padding: 4px;
    margin: 0 15px;
    vertical-align: top;
}