{% extends 'base.html' %}

{% block title %}
Search - {{ SITENAME|striptags }}
{% endblock title %}

{% block content %}

<script type="text/javascript" src="{{ SITEURL }}/tipuesearch_content.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>


<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'show': 10,
         'mode': 'json',
         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
     });
});
</script>

<section id="content" class="body">

<form>
  <div class="tipue_search_group" align="center">
    <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required>
    <button type="submit" class="tipue_search_button">
      <div class="tipue_search_icon">&#128270;</div>
    </button>
  </div>
</form>

<div id="tipue_search_content"></div>

</section>
{% endblock content %}
